<h3>Connect with others:</h3>

<% @users.each do |user| %>
  <%= gravatar_for user %><%=link_to "#{user.first_name} #{user.surname}", user_path(user) %>
  <% if current_user.pending_friends.include?user %>
    <h6>Friend request sent </h6>
  <% else %>
    <%= button_to 'Add friend', user_friend_requests_path(user), method: :post %>
  <% end %>
  <br>
<% end %>