@import "bootstrap";

body {
  background-color: #d2e3f0;
  font-size: 0.9rem;
}

.navbar {
  background-color: #e3f2fd;
}


.field, .actions{
    width: 70%;
    margin: 0 auto;
}


.request-container {
  width: 90%;
  margin: 0 auto;
}

.request-col {
  background-color: white;
}

.friend-container {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.form-container {
  width: 50%;
  background-color: white;
  border-radius: 25px;
}

.post-index-container {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  .post {
    width: 100%;
  }
}

.post-form input, .post-form #post_body {
  width: 100%;
}

#comment_body {
  width: 70%;
}

.gravatar {
  height: 4em;
  width: 4em;
}

.post-body {
  font-size: 1.1em;
}

.post-links, .comment-links, .comment-form {
  font-size: 0.8em;
}

.post {
  width: 50%;
  border-radius: 10px;
}

small {
  font-size: 0.8rem;
}

.submit {
  width: 100%;
}