// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col{
    margin: 0 auto;
    width: 100px;
 }
 .field{
    padding-bottom: 10px;
 }

 .nav{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
 }